.subscribetbtn {
  background-color: var(--clr-primary-blue);
  padding: var(--spacing-4) var(--spacing-9);
  border-color: var(--clr-primary);
  border-radius: 50rem !important;
  font-weight: bold;
  margin-top: 50px;
  color: white;
}
.subscribetbtn:hover {
  background-color: var(--clr-primary-2);
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.subscribetbtn:active {
  -webkit-transform: scale(0.95); /* Safari and Chrome */
  -moz-transform: scale(0.95); /* Firefox */
  -ms-transform: scale(0.95); /* IE 9 */
  -o-transform: scale(0.95); /* Opera */
  transform: scale(0.95);
}
